SVS_SERVER_URL=https://app.svsprotocol.com
SVS_PROTOCOL_API_KEY=svs_replace_with_protocol_api_key
SVS_PROTOCOL_REQUEST_SIGNING_SECRET=svs_req_replace_with_protocol_signing_secret
SVS_ACTION_RECORD_ID=replace_with_approved_registered_action_record_id

